---
import Container from "./Container.astro";
import SubscribeForm from "./SubscribeForm.astro";
import FollowButtons from "./FollowButtons.astro";
import { type Locale, getLocaleFromAstro } from "../i18n/config";
import { getMessages } from "../i18n";

type Props = {
  locale?: Locale;
};

const locale = getLocaleFromAstro(Astro);
const messages = getMessages(locale);
const today = new Date();
---

<footer id="subscribe">
  <div class="subscribe-band">
    <Container>
      <div class="subscribe-inner">
        <div class="subscribe-text">
          <h2 class="subscribe-title">{messages.subscribe.title}</h2>
          <SubscribeForm locale={locale} />
        </div>
        <FollowButtons locale={locale} />
      </div>
    </Container>
  </div>
  <div class="copy-band">
    <Container>
      <div class="copy-inner">
        <span class="copy">
          Unrefined Shell by <a href="https://guillermorodas.com" target="_blank" rel="noopener noreferrer">Guillermo Rodas</a> &nbsp;&copy;&nbsp; {today.getFullYear()}
        </span>
      </div>
    </Container>
  </div>
</footer>

<style>
  footer {
    background: var(--color-black-pearl-900);
    color: var(--color-white);
    margin-top: 0;
  }

  .subscribe-band {
    padding: 2.5em 0;
    background: var(--color-black-pearl-800);
  }

  .subscribe-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
  }

  .subscribe-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
    min-width: 280px;
  }

  .subscribe-title {
    margin: 0;
    color: var(--color-aquarius-600);
    font-size: 1.4em;
    line-height: 1.2;
  }

  .copy-band {
    padding: 1em 0;
  }

  .copy-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .copy {
    color: var(--color-black-pearl-300);
    font-size: 0.75em;
  }

  .copy a {
    color: var(--color-black-pearl-300);
    text-decoration: underline;
  }

  .copy a:hover {
    color: var(--color-white);
  }

  @media (max-width: 640px) {
    .subscribe-inner {
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style>
